$border: #d2d2d2;
$icon: #1b1b1b;
$tooltip: #717171;
$navHover: #e5e5e5;
$filterBg: #f2f2f2;

$red: #ff0000;
$blue: #065fd4;
$darkBlue: #1b66ca;
$gray: #606060;

$kakaoBg: #fee500;
$kakaoLabel: rgba(0, 0, 0, 0.85);
