.main {
  display: grid;
  grid-template-columns: 240px auto;
  gap: 20px;
}

@media (max-width: 1300px) {
  .main {
    grid-template-columns: 72px auto;
    gap: 10px;
  }
}

@media (max-width: 501px) {
  .main {
    grid-template-columns: 100%;
    .nav {
      display: none;
    }
  }
}
