.home__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  a {
    min-width: max-content;
    margin: 0 12px;
    padding: 8px 12px;
    border-radius: 16px;
    border: 1px solid $border;
  }
  .selected {
    border: none !important;
    background-color: black;
    color: white;
  }
}

.home__videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding-block: 24px;
  padding-inline: 48px;
}

@media (max-width: 1400px) {
  .home__videos {
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 36px;
  }
}

@media (max-width: 1100px) {
  .home__filter {
    display: none;
  }
  .home__videos {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 24px;
  }
}

@media (max-width: 748px) {
  .home__videos {
    grid-template-columns: 1fr;
    padding-inline: 12px;
  }
}
