#home__container {
  display: grid;
  grid-template-columns: 240px auto;
  gap: 20px;
}

#home__main {
  #home__nav-filter {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      min-width: max-content;
      height: 30px;
      margin: 0 12px;
      padding: 6px 12px;
      border-radius: 16px;
      border: 1px solid $border;
      &:hover {
        background-color: $nav-hover;
      }
      &:first-child {
        border: none;
        background-color: black;
        color: white;
      }
    }
  }
  #home__section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 24px;
  }
}
