.profile__title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
}

.profile__user {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  .profiile__user-avatar {
    display: grid;
    grid-template-columns: 100px auto;
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .profile__user-info {
    .profile__user-name {
      margin-bottom: 12px;
      font-size: 16px;
    }
    .profile__user-meta {
      font-size: 14px;
      color: $gray;
    }
  }
}

.profile__videos {
  max-width: 900px;
  margin-bottom: 50px;
}

.profile__comments {
  max-width: 600px;
  margin-bottom: 50px;
  .profile__comment {
    display: grid;
    grid-template-columns: auto 50px;
    margin-bottom: 10px;
    padding: 16px 10px;
    border-radius: 12px;
    border: 1px solid $border;
    color: $gray;
    .profile__comment-date {
      margin-bottom: 10px;
      font-size: 14px;
    }
    .profile__comment-title {
      margin-bottom: 10px;
      font-size: 14px;
      span:last-child {
        margin-left: 5px;
        color: $blue;
      }
    }
    .profile__comment-text {
      font-size: 18px;
    }
  }
  .profile__comment-icon {
    place-self: center;
    font-size: 16px;
  }
}

.profile__preview {
  position: relative;
  display: grid;
  grid-template-columns: 100px auto;
  width: fit-content;
  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  .profile__preview-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    cursor: pointer;
    i {
      padding: 10px;
      border-radius: 50%;
      background-color: $blue;
      color: white;
      font-size: 12px;
    }
  }
}
