.watch__container {
  display: grid;
  grid-template-columns: auto 400px;
  gap: 24px;
  padding: 18px 72px;
}

.belowContainer {
  width: 100%;
  margin: 12px 0 24px 0;
}

.watch__info {
  .watch__hashtags {
    margin-bottom: 4px;
    .watch__hashtag {
      margin-right: 4px;
      color: $blue;
      font-size: 12px;
    }
  }
  .watch__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .watch__author-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .watch__author {
      display: grid;
      grid-template-columns: 48px auto;
      align-items: center;
      font-size: 16px;
      .watch__avatar-img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
    .watch__btns {
      a {
        margin-right: 20px;
        font-size: 14px;
      }
    }
  }
  .watch__meta {
    margin-bottom: 10px;
    padding: 0 5px;
    font-size: 14px;
    font-weight: 500;
    .watch__views {
      margin-right: 10px;
    }
  }
  .watch__description {
    margin-bottom: 32px;
    padding: 0 5px;
  }
}

.watch__comments {
  .comment-count {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .comment-box {
    display: grid;
    grid-template-columns: 48px auto;
    margin-bottom: 10px;
    .comment-avatar {
      .comment-avatar-img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
    .comment-contents {
      display: flex;
      flex-direction: column;
      #commentInput {
        padding: 5px;
        border: none;
        border-bottom: 1px solid $border;
        transition: all 0.5s ease-in-out;
        &:focus {
          border-color: black;
        }
      }
      .comment-input {
        margin-bottom: 5px;
        font-size: 14px;
      }
      .comment-btns {
        text-align: right;
      }
      .comment-meta {
        margin-bottom: 5px;
        font-weight: 500;
        .comment-author {
          margin-right: 5px;
          font-size: 13px;
        }
        .comment-date {
          font-size: 12px;
        }
      }
      .comment-input-btn {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
