.watch__container {
  display: grid;
  grid-template-columns: auto 400px;
  gap: 24px;
  width: 100%;
  padding: 18px 4vw;
  .watch__video {
    margin-left: 1.25vw;
    width: 100%;
    .watch__video-comments {
      margin-bottom: 100px;
    }
  }
}

@media (max-width: 1400px) {
  .watch__container {
    padding: 18px 2vw;
    gap: 18px;
  }
}

@media (max-width: 1024px) {
  .watch__container {
    display: flex;
    flex-direction: column;
    .watch__video {
      margin-left: 0;
    }
  }
}

@media (max-width: 500px) {
  .watch__container {
    padding: 18px 0;
    .watch__video {
      .watch__video-info,
      .watch__video-comments {
        padding: 0 20px;
      }
    }
  }
}
