header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  background-color: white;
  z-index: 9;
  i {
    font-size: 20px;
    color: $icon;
  }
}

.header__left {
  display: flex;
  align-items: center;
  .header__menu {
    margin: 0 10px;
  }
  .header__logo {
    margin: 0 10px;
    img {
      width: 100px;
    }
  }
}

.header__center {
  flex: 1;
  max-width: 600px;
  .header__search-form {
    display: flex;
    height: 40px;
    margin: 0 10px;
    border: 1px solid $border;
    .header__search-input {
      width: calc(100% - 60px);
      padding: 2px 6px;
      border: none;
      font-size: 16px;
      z-index: 1;
      &:focus {
        outline: 1px solid $blue;
      }
    }
    .header__search-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      border-left: 1px solid $border;
    }
  }
}

.header__right {
  ul {
    display: flex;
    align-items: center;
    .header__icon {
      margin: 0 16px;
    }
    .header__avatar {
      margin: 0 10px;
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
    .header__login {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100px;
      height: 40px;
      border-radius: 4px;
      border: 1px solid $blue;
      font-size: 16px;
      color: $blue;
      i {
        margin-right: 10px;
        font-size: 16px;
        color: $blue;
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    i {
      font-size: 18px;
    }
    .header__left {
      .header__logo {
        margin: 0 2px;
        img {
          width: 80px;
        }
      }
    }
    .header__right {
      .header__icon {
        margin: 0 8px;
      }
      .header__login {
        width: 60px;
        height: 32px;
        font-size: 14px;
        i {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  header {
    padding: 8px;
    .header__right {
      .header__icon {
        display: none;
      }
      .header__login {
        justify-content: center;
        width: 40px;
        i {
          display: block;
          margin-right: 0;
        }
        span {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 501px) {
  .header__left {
    .header__logo {
      display: none;
    }
  }
}
