.nav__list {
  width: 100%;
  padding-top: 12px;
  li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 24px;
    &:hover {
      background-color: $navHover;
      cursor: pointer;
    }
    i {
      margin-right: 24px;
      font-size: 18px;
    }
    span {
      font-size: 16px;
      font-weight: 500;
    }
  }
  hr {
    border-top: 1px solid $border;
    opacity: 0.3;
  }
}

.nav__info {
  padding: 12px 24px;
  font-size: 12px;
  p {
    margin: 10px 0;
  }
  a {
    color: $blue;
    i {
      margin-right: 5px;
    }
  }
}

@media (max-width: 1300px) {
  .nav__list {
    li {
      flex-direction: column;
      justify-content: center;
      height: 60px;
      i {
        margin-right: 0;
        margin-bottom: 8px;
      }
      span {
        font-size: 10px;
        white-space: nowrap;
      }
    }
  }
  .nav__info {
    display: none;
  }
}
