#nav-ul {
  width: 100%;
  padding-top: 12px;
  li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 24px;
    &:hover {
      background-color: $nav-hover;
      cursor: pointer;
    }
    i {
      margin-right: 24px;
      font-size: 18px;
    }
    span {
      font-size: 16px;
      font-weight: 500;
    }
  }
  hr {
    border-top: 1px solid $border;
    opacity: 0.3;
  }
  p {
    padding: 12px 24px;
    font-size: 12px;
    line-height: 1.2;
    a {
      color: $blue;
    }
  }
}

@media (max-width: 1300px) {
  ul {
    li {
      flex-direction: column;
      justify-content: center;
      height: 60px;
      padding: 16px 0;
      i {
        margin-right: 0;
        margin-bottom: 8px;
      }
      span {
        font-size: 10px;
      }
    }
    p {
      display: none;
    }
  }
}
