#video__container {
  position: relative;
  width: 100%;
  #video__overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
  }
  #video {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }
  #video__controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    #video__timeline {
      display: flex;
      align-items: center;
      width: 100%;
      input {
        width: 100%;
      }
    }
    #video__controller {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 10px;
      color: white;
      button {
        width: 36px;
        height: 36px;
        color: white;
        text-align: center;
      }
      #video__controller-left {
        display: flex;
        align-items: center;
        #playPauseBtn {
          margin-right: 6px;
          font-size: 20px;
        }
        #timeText {
          margin-right: 6px;
        }
        #volumeBtn {
          margin-right: 6px;
          font-size: 16px;
        }
        #volumeRange {
          width: 70px;
        }
      }
      #video__controller-right {
        #fullScreenBtn {
          font-size: 20px;
        }
      }
    }
  }
}

.showing {
  opacity: 1 !important;
}
