.comment__count {
  margin-bottom: 20px;
  font-size: 16px;
}
.comment__mixin {
  display: grid;
  grid-template-columns: 48px auto;
  margin-bottom: 10px;
  .comment__avatar {
    width: 36px;
    height: 36px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
  }
  .comment__contents {
    display: flex;
    flex-direction: column;
    // 코멘트 작성란
    #commentInput {
      margin-bottom: 5px;
      padding: 5px;
      border: none;
      border-bottom: 1px solid $border;
      font-size: 14px;
      transition: all 0.5s ease-in-out;
      &:focus {
        border-color: black;
      }
    }
    .comment__form-btns {
      text-align: right;
    }
    // 코멘트 리스트
    .comment__meta {
      margin-bottom: 5px;
      font-weight: 500;
      .comment__author {
        margin-right: 10px;
        font-size: 13px;
      }
      .comment__date {
        font-size: 12px;
        color: $gray;
      }
    }
    .comment__text {
      margin-bottom: 5px;
      font-size: 14px;
    }
    .comment__btns {
      display: flex;
      margin-bottom: 5px;
      button {
        padding: 10px;
        i {
          font-size: 16px;
        }
      }
    }
  }
}
