extends base-with-nav

block content
    .container.container-center
        if errorMsg
            div.error-msg=errorMsg
        h1.title 회원가입
        form(method="POST").user-form

            label(for="email") 이메일
            input(name="email", id="email",placeholder="예시: example@naver.com", type="email", required)

            label(for="nickname") 닉네임
            input(name="nickname", id="nickname", placeholder="15자 이내 입력" type="text", required, maxLength="15")

            label(for="password") 비밀번호
            input(name="password", id="password",placeholder="4자리 이상 입력", type="password", required, minLength="4", autocomplete="new-password")

            label(for="passwordConfirmation") 비밀번호 확인
            input(name="passwordConfirmation", id="passwordConfirmation",placeholder="비밀번호 한번 더 입력", type="password", required, minLength="4", autocomplete="new-password")
            span.pw-confirm-msg
            
            button(type="submit") 가입하기

block scripts
    script(src="/static/js/join.js")

        