extends base-with-nav

block content
    .container.container-center
        if errorMsg
            div.error-msg=errorMsg
        h1.title 로그인
        form(method="POST").user-form

            label(for="email") 이메일
            input(name="email", id="email",placeholder="이메일", type="email", required)

            label(for="password") 비밀번호
            input(name="password", id="password",placeholder="비밀번호", type="password", required, minLength="4", autocomplete="new-password")

            button(type="submit").smallBtn 로그인
            
            hr.divide

            a(href="/users/github/start").largeBtn.github
                i.fa-brands.fa-github
                span 깃허브 로그인
            a(href="/users/kakao/start").largeBtn.kakao
                i.fas.fa-comment
                span 카카오 로그인
            a(href="/join").largeBtn.join
                i.fa-brands.fa-youtube
                span 10초 회원가입


        