extends base-with-nav
include mixins/mid-video

block content
    div.container
        div.search__videos
            h2.search__title
                strong #{keyword}
                span 관련 동영상
            each video in videos
                +video(video)
            else
                p.search__results
                    strong '#{keyword}'
                    span 에 대한 검색 결과가 없습니다.