extends base-with-nav

block content
    div.container
        if errorMsg
            div.error-msg=errorMsg
        h1.title 동영상 업로드
        form(method="POST", enctype="multipart/form-data").user-form.user-form-wide
            label 직접 촬영
            video#preview
            a#actionBtn
                i.fas.fa-video
                span 녹화 시작

            label(for="video") 동영상 업로드
            video(controls).videoPreview
            input(type="file", name="video", id="video", accept="video/*", required)

            label(for="thumb") 썸네일
            img(src="/uploads/thumbnail.png").thumbnailPreview.preview
            input(type="file", name="thumb", id="thumb", accept=".png, .jpg, .jepg", required)

            label(for="title") 제목
            input(name="title", id="title", placeholder="동영상의 제목을 입력해주세요." type="text", required, maxLength="100")

            label(for="description") 설명
            textarea(name="description", id="description", placeholder="동영상에 대한 설명을 적어주세요." , required, minLength="2", wrap="physical", cols="100")

            label(for="hashtags") 해쉬태그
            input(name="hashtags", id="hashtags", placeholder="예시 : #플레이리스트, #드라마, #코딩" type="text", required, minLength="1")

            button(type="submit") 동영상 업로드

block scripts
    script(src="/static/js/recorder.js")
    script(src="/static/js/preview.js")    