extends base

block content
    form(method="POST", enctype="multipart/form-data")
        if errorMsg
        div.error-msg=errorMsg
        
        label(for="video") 동영상
        input(type="file", name="video", id="video", accept="video/*", required)

        label(for="thumb") 썸네일
        input(type="file", name="thumb", id="thumb", accept=".png, .jpg, .jepg", required)

        label(for="title") 제목
        input(name="title", id="title", placeholder="동영상의 제목을 입력해주세요." type="text", required, maxLength="100")

        label(for="description") 설명
        input(name="description", id="description", placeholder="동영상에 대한 설명을 적어주세요." type="text", required, minLength="2")

        label(for="hashtags") 해쉬태그
        input(name="hashtags", id="hashtags", placeholder="해쉬태그를 콤마(,)로 구분해서 입력해주세요." type="text", required, minLength="2")

        input(type="submit", value="동영상 업로드")