extends base-without-nav
include mixins/aside-video

block content
    div.watch__container
        section.watch__left
            include partials/videoPlayer
            div.watch__left-below
                include partials/videoInfo
                include partials/videoComments
        nav.watch__right
            each video in asideVideos
                +video(video)

block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")