extends base-without-nav
include mixins/aside-video

block content
    div.watch__container
        section.watch__video
            div.watch__video-player
                include partials/videoPlayer
            div.watch__video-info
                include partials/videoInfo
            div.watch__video-comments
                include partials/videoComments
        nav.watch__nav
            each video in asideVideos
                +video(video)

block scripts
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/videoInfo.js")
    script(src="/static/js/commentSection.js")