header
    div.left
        a(href="/")
            i.fas.fa-bars.header__icon#header__menu
        a(href="/")
            img(src="/static/logo.png").header__logo
    div.center
        form(action="/search")#header__search-form
            input#header__search-input(type="text", name="keyword",placeholder="검색", required)
            button#header__search-button(type="submit")
                i.fas.fa-magnifying-glass.header__icon
    div.right
        if loggedIn
            a(href="/videos/upload")
                i.fas.fa-video.header__icon
            a(href=`/users/${loggedInUser._id}`)
                i.fa-regular.fa-bell.header__icon
            a(href="/users/logout")
                i.fas.fa-arrow-right-from-bracket.header__icon
            a(href="/users/edit")
                if (loggedInUser.avatarUrl.startsWith("http"))
                    img(src=loggedInUser.avatarUrl).header__avatar
                else
                    img(src= "/" + loggedInUser.avatarUrl).header__avatar
        else
            a(href="/login").header__login
                i.fa-regular.fa-user
                span 로그인

