ul.nav__ul
    li
            i.fas.fa-house
            span 홈
    li
            i.fa-regular.fa-compass
            span 탐색
    li
            i.fa-regular.fa-circle-play
            span 쇼츠
    li
            i.fas.fa-layer-group
            span 구독
    hr
    li
            i.fas.fa-basket-shopping
            span 보관함
    li
            i.fas.fa-clock-rotate-left
            span 시청 기록
    hr
    li
            i.fas.fa-gear
            span 설정
    li
            i.fa-regular.fa-flag
            span 신고 기록
    li
            i.fa-regular.fa-circle-question
            span 고객센터
    hr
    p
        | &copy; 2022 rigood<br><br>
        | This website is for educational purposes only<br><br>
        a(href="https://github.com/rigood", target="_blank")
                i.fa-brands.fa-github
                span 깃허브, 문의, 신고


